<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ shop.name }}</title>
  <meta name="robots" content="noindex, nofollow">

  {% render 'meta-tags' %}

  {%- if settings.favicon -%}
    <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
  {%- endif -%}

  <style>
    @font-face {
      font-family: 'Litteratur';
      src: url('{{ "LitteraturTextSN-Regular.woff2" | asset_url }}') format('woff2');
      font-weight: 400;
      font-style: normal;
      font-display: swap;
    }
    @font-face {
      font-family: 'Litteratur';
      src: url('{{ "LitteraturTextTrialSN-Italic.otf" | asset_url }}') format('opentype');
      font-weight: 400;
      font-style: italic;
      font-display: swap;
    }
  </style>

  {{ 'base.css' | asset_url | stylesheet_tag }}
  {{ content_for_header }}
</head>
<body class="password-page">
  <a href="#main-content" class="skip-link visually-hidden">{{ 'accessibility.skip_to_content' | t }}</a>
  <main id="main-content">
    {{ content_for_layout }}
  </main>
</body>
</html>
